@using Maps.Data.Interfaces
@{
    var model = (List<ITrainee>)ViewData["Trainees"];
    var selected = model.FirstOrDefault(t => t.Selected) ?? model.First();
}

<div class="container">
    <div class="row">
        <script src="~/Scripts/maps/functions.js"></script>
        <script>
           init("@ViewData["key"]");
            initTrainee(@selected.Latitude, @selected.Longitude, "@selected.Name", @selected.Id);
        </script>

        <div id="map" style="height: 800px; width: 100%;"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["key"]&callback=initMap&v=3.32"
                async defer>
        </script>
    </div>
</div>